<div class="container">
    <h2 mat-dialog-title>Add Employee:</h2>
    <mat-dialog-content>
      <p>
        Add an employee to your organization.
      </p></mat-dialog-content
    >
    <mat-dialog-actions>
      <!-- mat form that takes text for the user's comments -->
      <mat-form-field>

      <mat-label>First Name:</mat-label>
        <input matInput placeholder="First Name" />

      </mat-form-field>


    <mat-form-field>

      <mat-label>Last Name:</mat-label>
        <input matInput placeholder="Last Name" />
        
      </mat-form-field>

  
      <!-- mat dropdown used to add a rating 1-5 -->
      <mat-form-field>
        <mat-label>Position</mat-label>
        <mat-select>

        <!-- These selections will be determined by the database in future versions -->
          <mat-option value="1">Manager</mat-option>
          <mat-option value="2">Employee</mat-option>
          <mat-option value="3">Other</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- When submitted call function that sends rating to backend via the ID -->
      <button mat-button mat-dialog-close="">
        <!-- (click)="openSnackBar()" ^^^^^ -->


        Submit
      </button>
      <button mat-button mat-dialog-close="">Cancel</button>
    </mat-dialog-actions>
  </div>
  