.container {
  display: flex;
  flex-direction: row;

  gap: 1rem;

  background-color: #00000048;
  color: white;
  width: fit-content;
  padding: 1rem;
  border-radius: 15px;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.rating {
  background-color: rgb(159, 125, 255);
  height: fit-content;
  padding: 0.5rem;
  border-radius: 100%;
}
