.container {
  background-color: #55428b;
  justify-content: space-between;

  padding: 1rem;
  display: flex;
  gap: 1rem;

  align-items: center;

  a {
    border-radius: 5px;
    padding: 0.1rem;

    &:hover {
      background-color: rgb(66, 45, 67);
      transition: 0.3s;
    }
  }
}


/* added by jiten */
.container .navbar a {
  padding: .3rem;
  font-size: 1rem;
}


.title {
  color: #fff;  
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
